In [1]:
import pandas as pd

titanic_df = pd.read_csv('train.csv')

In [2]:
titanic_df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [3]:
titanic_df[['Age', 'Fare']].mean() #Age, Fare에 대한 평균값을 각각 구함

Age     29.699118
Fare    32.204208
dtype: float64